@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}





.embla-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Adjust spacing between carousels */
}

.embla {
  overflow: hidden;
  width: 300px; /* Set smaller size for each carousel */
  height: 200px; /* Adjust the height to maintain aspect ratio */
  position: relative;
}

.embla__container {
  display: flex;
  user-select: none;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__slide img {
  display: block;
  width: 100%;
  height: auto;
}

.embla__dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: #ccc;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.embla__dot.is-selected {
  background-color: #333;
}







@media (max-width: 768px) {
  .container {
    height: 300px; /* Adjust the height for mobile */
  }
}

@media (min-width: 769px) {
  .container {
    height: 500px; /* Adjust the height for desktop */
  }
}

@keyframes shake  {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


